repos:
-   repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: debug-statements
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
        - python
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
        - python
    -   id: isort
        name: isort
        entry: isort
        language: system
        types:
        - python
    -   id: black
        name: black
        entry: black
        language: system
        require_serial: true
        types:
        - python
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
        - python
