global-exclude *.py[cod]
graft tests
prune __pycache__
include CHANGELOG.md
include LICENSE
include README.md
include pyproject.toml
include requirements.txt requirements_dev.txt
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude tox.ini
