pip==22.1.2
tox==3.27.1
coverage==6.4.2
coveralls==3.3.1
pytest==7.1.2
respx==0.19.2

# Linting & QA
black==22.6.0
check-manifest==0.48
flake8==4.0.1
isort==5.10.1
mypy==0.961
pre-commit==2.20.0
pydocstyle==6.1.1
