pip==21.2.2
tox==3.24.1
coverage==5.5
coveralls==3.2.0
pytest==6.2.4
respx==0.17.1

# Linting & QA
black==21.9b0
check-manifest==0.46
flake8==3.9.2
isort==5.9.3
mypy==0.910
pre-commit==2.13.0
pydocstyle==6.1.1
